# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import gmaps
import os
from pprint import pprint
from urllib.parse import urlencode

# Import API key
#from api_keys import g_key
# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)
print(gkey)

AIzaSyBHl782czWp_WQCgfGXmKS0LCNWceQBe18

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [58]:
# Create vacation dataframe
#clean_city_data_df.to_csv('../Resources/city_output.csv')
vacation_df = pd.read_csv('../Resources/city_output.csv')
#vacation_df = vacation_df.drop(columns="Unnamed: 0")
vacation_df.head()

,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed
0,2,Hermanus,ZA,1619019606,77,69,-34.4187,19.2345,293.71,2.68
1,3,Chengde,CN,1619019606,43,97,40.9725,117.9361,284.92,3.25
2,4,Sühbaatar,MN,1619019607,57,94,50.2314,106.2078,271.69,7.39
3,5,Busselton,AU,1619019607,92,63,-33.6500,115.3333,286.48,4.69
4,6,Tommot,RU,1619019608,96,100,58.9564,126.2925,271.36,3.58

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [117]:
# Store latitude and longitude in locations
locations = vacation_df[["lat", "long"]]
weights = vacation_df["humidity"].astype(float)

fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=20)


# heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
#                                  dissipating=False, max_intensity=100,
#                                  point_radius=300)
fig.add_layer(heat_layer)
#plt.savefig("../images/vac_map.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [59]:
#vacation_df.dropna(inplace = True) max temp, cloudiness = 0, wind speed <10, 70> <80
city_weather_df = vacation_df.copy()
city_weather_df.dropna(inplace = True) 
city_weather_df

,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed
0,2,Hermanus,ZA,1619019606,77,69,-34.4187,19.2345,293.71,2.68
1,3,Chengde,CN,1619019606,43,97,40.9725,117.9361,284.92,3.25
2,4,Sühbaatar,MN,1619019607,57,94,50.2314,106.2078,271.69,7.39
3,5,Busselton,AU,1619019607,92,63,-33.6500,115.3333,286.48,4.69
4,6,Tommot,RU,1619019608,96,100,58.9564,126.2925,271.36,3.58
5,7,Sanok,PL,1619019608,100,96,49.5557,22.2056,282.59,4.92
6,8,Broken Hill,AU,1619019609,46,90,-31.9500,141.4333,284.15,3.89
7,9,Ushuaia,AR,1619019609,37,0,-54.8000,-68.3000,284.15,1.54
8,10,Qaanaaq,GL,1619019595,69,100,77.4840,-69.3632,261.99,4.23

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [60]:
#Search for hotel in cities and assign to a new column in hotel_df
hotelname = []
hotel_df = city_weather_df.copy()
params = {}
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

for index, row in hotel_df.iterrows():
    # get city name, lat, lng from df
    lat = row["lat"]
    lng = row["long"]
    city_name = row["city"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"
    params["radius"] = "5000"
    params["type"] = "hotel"
    params['keyword'] = 'hotel'
    params["key"] = gkey 
    
    url_params = urlencode(params)
    # assemble url and make API request
    #print(f"Retrieving Results for Index {index}: {city_name}.")
    query_string = base_url+url_params
    #pprint(query_string)
    
     # save the hotel name to dataframe
    try:
        response = requests.get(query_string).json() 
    
        # extract results
        results = response['results'] 

        #print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        time.sleep(.2)
        
    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print(f"{index} - There isn't any hotel in a 5000m radius.")
    #print("------------")

    # Print end of search once searching is completed
#print("-------End of Search-------")
hotel_df

2 - There isn't any hotel in a 5000m radius.

,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed,Hotel Name
0,2,Hermanus,ZA,1619019606,77,69,-34.4187,19.2345,293.71,2.68,Harbour House Hotel
1,3,Chengde,CN,1619019606,43,97,40.9725,117.9361,284.92,3.25,Jiahe International Hotel
2,4,Sühbaatar,MN,1619019607,57,94,50.2314,106.2078,271.69,7.39,NaN
3,5,Busselton,AU,1619019607,92,63,-33.6500,115.3333,286.48,4.69,The Sebel Busselton
4,6,Tommot,RU,1619019608,96,100,58.9564,126.2925,271.36,3.58,Hotel Shtorm
5,7,Sanok,PL,1619019608,100,96,49.5557,22.2056,282.59,4.92,Hotel i Restauracja Bona
6,8,Broken Hill,AU,1619019609,46,90,-31.9500,141.4333,284.15,3.89,Royal Exchange Hotel
7,9,Ushuaia,AR,1619019609,37,0,-54.8000,-68.3000,284.15,1.54,Los Cauquenes Resort & Spa
8,10,Qaanaaq,GL,1619019595,69,100,77.4840,-69.3632,261.99,4.23,Qaanaaq Hotel

In [133]:
hotel_df = hotel_df.dropna()
# Make adjustmentss to hotel_df, calculate;
# 1. A max temperature lower than 80 degrees but higher than 70.
# 2. Wind speed less than 10 mph.
# 3. Zero cloudiness.
hotel_df = hotel_df.loc[(hotel_df.maxtemp < 290) & (hotel_df.maxtemp > 270)]
hotel_df = hotel_df.loc[hotel_df.windspeed < 10]
hotel_df = hotel_df.loc[hotel_df.cloudiness == 0]
hotel_df

,city_num,city,country,date,humidity,cloudiness,lat,long,maxtemp,windspeed,Hotel Name
7,9,Ushuaia,AR,1619019609,37,0,-54.8,-68.3,284.15,1.54,Los Cauquenes Resort & Spa

In [125]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "long"]]

In [134]:
# Create a map using state centroid coordinates to set markers
marker_locations = locations

# Create a marker_layer 
#fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations, info_box_content=hotel_info) 

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))